%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}
    %meta{name: "author" ,content: "Chinmaya Lad"}
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/

    / %link{:href => "assets/css/main.css", :rel => "stylesheet"}/
  %body.is-preload
    / Header
    #header
      .top
        / Logo
        #logo
          %span.image.avatar48
            =image_tag("avatar_xs.png")
            / %img{:alt => "", :src => "../../assets/images/avatar_s.jpeg"}/
          %h1#title Chinmaya Lad
          %p Graduate Student
        / Nav
        %nav#nav
          %ul
            %li
              %a#top-link{:href => "#portfolio"}
                %span.icon.fa-home Intro
            %li
              %a#education-link{:href => "#education"}
                %span.icon.fa-graduation-cap Education
            %li
              %a#project-link{:href => "#project"}
                %span.icon.fa-tasks Project
            %li
              %a#experience-link{:href => "#experience"}
                %span.icon.fa-building Experience
            %li
              %a#skill-link{:href => "#skill"}
                %span.icon.fa-microchip Skills
            %li
              %a#contact-link{:href => "#contact"}
                %span.icon.fa-envelope Contact
      .bottom
        / Social Icons
        %ul.icons
          %li
            %a.iconb.fa-linkedin{:href => "https://linkedin.com/in/chinmaylad", :target => "_blank"}
              %span.label LinkedIn
          %li
            %a.iconb.fa-twitter{:href => "https://twitter.com/ChinmayLad93", :target => "_blank"}
              %span.label Twitter
          %li
            %a.iconb.fa-facebook{:href => "https://www.facebook.com/chinmay.lad", :target => "_blank"}
              %span.label Facebook
          %li
            %a.iconb.fa-github{:href => "https://github.com/ChinmayLad", :target => "_blank"}
              %span.label Github
          %li
            %a.icon.fa-envelope{:href => "mailto:ladchinmay@gmail.com", :target => "_blank"}
              %span.label Email
    / Main
    #main
      / Intro
      %section#top.dark.cover.cov
        .container
          %header
            %h2.alt
              / %strong 
              / %span.icon.fa-quote-left
              /   Simplicity is the ultimate sophistication.
              / %span.icon.fa-quote-right
              %br
              %br
              / %p
              /   ="-Leonardo Da Vinci"
      / Portfolio
      %section#portfolio.two
        .container
          %header
            %h2 About Me
          %p
            Graduate Student at the University of Buffalo, New York.
            I'm actively looking for Full-time opportunities in Machine Learning and Software Engineering roles.
            I'm an experienced Software Developer with experience in E-commerce Industry with strong technical skills in Android Application Development, Ruby on Rails, Java, R, Python. 
            I have a good understanding of Machine Learning and Deep Learning Algorithms. I constantly learn and keep myself up-to-date with the latest trends in ML and DL. 
            A good knack for problem-solving.
      %section#education.four
        .container
          %header
            %h2 Education
          %ul.align-left
            %li
              %h4 University at Buffalo, New York
              Master of Science in Computer Science , 2018-2020 
              %br/
              %span.label-course Machine Learning
              %span.label-course Deep Learning
              %span.label-course Computer Vision
              %span.label-course Analysis of Algorithms
              %span.label-course Distributed System
              %span.label-course Computer Security
            %li
              %h4 University of Mumbai
              Bachelor of Engineering in Computer Engineering, 2012-2016
              %br
              %span.label-course Data Mining
              %span.label-course Artificial Intelligence
              %span.label-course Big Data Analytics
              %span.label-course Computer Graphics
      %section#project.three
        .container
          %header
            %h2 Projects
          %ul.no-bullets.align-left
            %li
              %h4
                Neural Style Transfer
                %a.iconb.fa-github{:href => "https://github.com/ChinmayLad/neural-style-transfer", :target => "_blank"}
                %a.iconb.fa-medium{:href => "https://medium.com/analytics-vidhya/understanding-neural-style-transfer-3061cd92648", :target => "_blank"}
              / <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
              %ul.align-left
                %li Implemented a Neural Style Transfer model for performing artistic style transfer from an impressionist painting to a normal image in #{content_tag(:strong, "PyTorch")}. 
                %li Trained the model on #{content_tag(:strong, "Perceptual Loss")} calculated using the #{content_tag(:strong, "VGG-16")} network trained for classification. 
                %li Developed #{content_tag(:strong, "Conditional Instance Normalization")} for transferring multiple styles using a single network.
                %li Used the same model for real-time artistic style transfer on video input.
            %li
              %h4
                Semantic Segmentation of Medical Image Datasets - Independent Study
              %ul.align-left
                %li A research project to improve the performance of existing methods of training a model for medical image segmentation without #{content_tag(:strong, "Human-in-the-Loop")} training.
                %li Developed architecture for the segmentation of medical images using DeepLabV3 trained alongside an adversarial Multiscale L1 Loss in #{content_tag(:strong, "PyTorch")}.
            %li
              %h4
                Image Generation using Self Attention
                %a.iconb.fa-github{:href => "https://github.com/ChinmayLad/self_attention_gan", :target => "_blank"}
              %ul.align-left
                %li Developed a Generative Adversarial Network with a Self Attention mechanism for generating artificial images in #{content_tag(:strong, "PyTorch")}. 
                %li Compared the results with DCGAN using #{content_tag(:strong, "Frechet Inception Distance")} as the evaluation metric.
            %li
              %h4 Manga Colorization using cGAN
              / %a.iconb.fa-github{:href => "https://github.com/Tabish06/Customer_KPI", :target => "_blank"}
              / <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
              %ul.align-left
                %li Developed an application for coloring black & white Manga images using Conditional Generative Adversarial Networks in #{content_tag(:strong, "Keras")}.
                %li Implemented #{content_tag(:strong, "U-Net")} architecture along with skip-connections for generating the colored images and #{content_tag(:strong, "Patch-GAN")} architecture as a discriminator between the colored image and the real image.
            %li
              %h4 Explanable AI
              / %a.icon.fa-images{href:"https://drive.google.com/file/d/1N0bze0Mtu4Wi_nPgtzS4R6RqUuMM54J5/view?usp=sharing",target: "_blank"}
              %ul.align-left
                %li Developed an architecture that learns explainable features from writers’ handwriting domain while learning to answer various queries for that domain. 
                %li The architecture consists of a combination of a deep learning model along with a probabilistic graphical model. 
                %li The deep learning model is an Auto-Encoder which provides latent representations of the handwriting samples.
            %li
              %h4 Classification Of Handwritten Digits
              / <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
              %ul.align-left
                %li Implemented Logistic Regression, Neural Network, Random Forest and SVM methods and combined them using boosting technique on MNIST dataset for training and testing. 
                %li Tested the model on the USPS dataset to validate the “No Free Lunch Theorem”.
            %li
              %h4
                Amazon Dynamo Style Storage
                %a.iconb.fa-github{:href => "https://github.com/ChinmayLad/SimpleDynamo", :target => "_blank"}
              / <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
              %ul.align-left
                %li Designed a distributed key-value storage system using Android emulators as distributed servers.
                %li Implemented Partitioning, Replication and Failure handling to provide Linearizability and Availability at the same time.
            %li
              %h4
                Key Thresholding
                %a.iconb.fa-github{:href => "https://github.com/ChinmayLad/shamirs-secret-sharing", :target => "_blank"}
              %ul.align-left
                %li Implemented #{content_tag(:strong, "Shamir’s Secret Sharing Algorithm")} for key thresholding using #{content_tag(:strong, "Lagrange’s Interpolation")} and #{content_tag(:strong, "Elgamal Encryption")} as encryption base.
      %section#experience.five
        .container
          %header
            %h2
              Experience
          %ul.no-bullets.align-left
            %li 
              %h4 Software Development Engineer, Amazon Web Service, Seattle WA, April 2020 - Current
              Technologies User: AWS Serveless applications, Lambda, S3.
              %br
              %ul.align-left
                %li Work on automating price-updates for different services and manage the data over regions.

            %li
              %h4 Deep Learning Research, University at Buffalo, Buffalo NY, June 2019 – Dec 2019
              Technologies Used: Python, PyTorch, scitkit-learn, openslide, OpenCV.
              %br
              %ul.align-left
                %li Developed a Semi-Supervised Segmentation technique using Adversarial loss for Medical Image dataset, to deal with the lack of properly labeled data.
                %li The segmentation architecture uses DeepLabV3 model trained alongside an adversarial #{content_tag(:strong, "Multiscale L1 Loss")} in PyTorch.
                %li Achieved a F1 score of 94.2% on Mouse Kidney Dataset for glomureli detection.
            %li
              %h4
                Software Developer​,​ Mirraw Online Services, Mumbai, India, Nov 2016 – June 2018
              Technologies Used: Android App Development, Ruby on Rails, JavaScript, PostgreSQL, AJAX, Python, AWS.
              %br
              %ul.align-left
                %li Examined server-side security vulnerability and feature development on Ruby on Rails framework.
                %li Ownership of Android Development improved feature usability and implemented UX enhancement for the application.
                %li Optimized GPU rendering performance leading to an improved play-store ranking of the app.
                %li Restructured the code base for better performance and minimized code redundancy.
                %li Introduced a modular approach and proper coding standards in the project for re-usability and understanding.
                %li Revamped and Developed Application UI.
            %li
              %h4 Developer Intern​ , ​Eyantra Robotics Lab, Mumbai, India
              Technologies Used: PHP, HTML, Google Blockly Library, Laravel Framework.
              %br
              %ul.align-left
                %li Developed “Fireblocks” (Embedded Programming Tutor).
                %li Implemented Web application using PHP Laravel Framework along with Google’s Blockly Library.
                %li Implemented server-side code generation and compiling mechanism.
              %br
      %section#skill.six
        .container
          %header
            %h2
              Technology Skills
          .row
            .col-10
              #diagram
                .get
                  .arc
                    %span.text TensorFlow
                    %input.percent{ :type => 'hidden', :value => '70'}
                    %input.color{:type => 'hidden', :value => '#2ed573'}
                  .arc
                    %span.text Keras
                    %input.percent{ :type => 'hidden', :value => '65'}
                    %input.color{:type => 'hidden', :value => '#D980FA'}
                  .arc
                    %span.text PyTorch
                    %input.percent{ :type => 'hidden', :value => '80'}
                    %input.color{:type => 'hidden', :value => '#1B1464'}
                  .arc
                    %span.text Ruby
                    %input.percent{ :type => 'hidden', :value => '98'}
                    %input.color{:type => 'hidden', :value => '#d32c2c'}
                  .arc
                    %span.text Python
                    %input.percent{:type => 'hidden', :value => '95'}
                    %input.color{ :type => 'hidden', :value => '#00a9ec'}
                  .arc
                    %span.text Java
                    %input.percent{ :type => 'hidden', :value => '90'}
                    %input.color{:type => 'hidden', :value => '#f58d00'}
                  .arc
                    %span.text Android
                    %input.percent{:type => 'hidden', :value => '90'}
                    %input.color{ :type =>'hidden', :value => '#0097aa'}

            .col-sm-4
              .legend
                .skills
                  %ul
                    %li.android Android
                    %li.java Java
                    %li.python Python
                    %li.ruby Ruby
                    %li.pytorch PyTorch
                    %li.keras Keras
                    %li.tensorflow TensorFlow
            

          / .row
          /   .col-12
          /     .skillbar.clearfix{"data-percent" => "90%"}
          /       .skillbar-title{:style => "background: #d35400;"}
          /         %span Ruby
          /       .skillbar-bar{:style => "background: #e67e22;"}
          /       .skill-bar-percent 90%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "75%"}
          /       .skillbar-title{:style => "background: #2980b9;"}
          /         %span Python
          /       .skillbar-bar{:style => "background: #3498db;"}
          /       .skill-bar-percent 75%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "70%"}
          /       .skillbar-title{:style => "background: #2980b9;"}
          /         %span R
          /       .skillbar-bar{:style => "background: #3498db;"}
          /       .skill-bar-percent 70%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "90%"}
          /       .skillbar-title{:style => "background: #2980b9;"}
          /         %span Swift
          /       .skillbar-bar{:style => "background: #3498db;"}
          /       .skill-bar-percent 90%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "90%"}
          /       .skillbar-title{:style => "background: #2980b9;"}
          /         %span Rails
          /       .skillbar-bar{:style => "background: #3498db;"}
          /       .skill-bar-percent 90%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "95%"}
          /       .skillbar-title{:style => "background: #2980b9;"}
          /         %span iOS
          /       .skillbar-bar{:style => "background: #3498db;"}
          /       .skill-bar-percent 95%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "75%"}
          /       .skillbar-title{:style => "background: #2980b9;"}
          /         %span Java
          /       .skillbar-bar{:style => "background: #3498db;"}
          /       .skill-bar-percent 75%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "80%"}
          /       .skillbar-title{:style => "background: #2c3e50;"}
          /         %span jQuery
          /       .skillbar-bar{:style => "background: #2c3e50;"}
          /       .skill-bar-percent 80%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "90%"}
          /       .skillbar-title{:style => "background: #2c3e50;"}
          /         %span SQL
          /       .skillbar-bar{:style => "background: #2c3e50;"}
          /       .skill-bar-percent 90%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "65%"}
          /       .skillbar-title{:style => "background: #2c3e50;"}
          /         %span Tensorflow
          /       .skillbar-bar{:style => "background: #2c3e50;"}
          /       .skill-bar-percent 65%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "70%"}
          /       .skillbar-title{:style => "background: #2c3e50;"}
          /         %span Keras
          /       .skillbar-bar{:style => "background: #2c3e50;"}
          /       .skill-bar-percent 70%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "80%"}
          /       .skillbar-title{:style => "background: #46465e;"}
          /         %span HTML5
          /       .skillbar-bar{:style => "background: #5a68a5;"}
          /       .skill-bar-percent 80%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "95%"}
          /       .skillbar-title{:style => "background: #333333;"}
          /         %span CSS
          /       .skillbar-bar{:style => "background: #525252;"}
          /       .skill-bar-percent 95%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "90%"}
          /       .skillbar-title{:style => "background: #27ae60;"}
          /         %span JavaScript
          /       .skillbar-bar{:style => "background: #2ecc71;"}
          /       .skill-bar-percent 90%
          /     / End Skill Bar
          /     .skillbar.clearfix{"data-percent" => "90%"}
          /       .skillbar-title{:style => "background: #124e8c;"}
          /         %span CoffeeScript
          /       .skillbar-bar{:style => "background: #4288d0;"}
          /       .skill-bar-percent 90%
          /     .skillbar.clearfix{"data-percent" => "100%"}
          /       .skillbar-title{:style => "background: #124e8c;"}
          /         %span Git
          /       .skillbar-bar{:style => "background: #4288d0;"}
          /       .skill-bar-percent 100%
      %section#contact.seven
        .container
          %header
            %h2 Contact
          %p
            %span.icon.fa-map-marker
            Buffalo, NY
            %br
            %a{:href => "mailto:ladchinmay@gmail.com"} ladchinmay@gmail.com
            %br
            %br
            %a.icon.fa-link{href: '/resume',target: '_blank' } Resume
    / Footer
    / <div id="footer">
    / Copyright
    /
      <ul class="copyright">
      <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    / </div>
    / Scripts
    / %script{:src => "assets/javascripts/jquery.min.js"}
    / %script{:src => "assets/javascripts/jquery.scrolly.min.js"}
    / %script{:src => "assets/javascripts/jquery.scrollex.min.js"}
    / %script{:src => "assets/javascripts/browser.min.js"}
    / %script{:src => "assets/javascripts/breakpoints.min.js"}
    / %script{:src => "assets/javascripts/util.js"}
    / %script{:src => "assets/javascripts/main.js"}


    =javascript_include_tag "jquery.min.js"
    =javascript_include_tag "jquery.scrolly.min.js"
    =javascript_include_tag "jquery.scrollex.min.js"
    =javascript_include_tag "browser.min.js"
    =javascript_include_tag "breakpoints.min.js"
    =javascript_include_tag "util.js"
    =javascript_include_tag "main.js"
    =javascript_include_tag "raphael.js"